
@font-face {
    font-family: 'mediumApp';
    src: url(../../6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu\ \(1\).woff2);
  }
  
  
  
  .logo{
    width: 150px;
  }
  nav{
    position: absolute;
    top: 50px;
    height: 80px;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
  }
  .button {
    font-family: mediumApp;
    font-size: 18px;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-image: linear-gradient(225deg,#090a0a,#151717,#e54074,#f96c2c);
      background-position: 100% 0 ;
      background-size: 300% 100%;
      transition: all .9s ease-in-out;
  }
  